<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero_Run_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,285},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,285},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,285},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,285},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,568},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,568},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Run_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,568},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_run.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:319c03624e9373623d2bb911895db116$</string>
            <key>textureFileName</key>
            <string>hero_run.png</string>
        </dict>
    </dict>
</plist>
