<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero_Die_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,2},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,2},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,285},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,285},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,285},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,285},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,285},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,568},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,568},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,568},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,568},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,851},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,851},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,851},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,851},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1134},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1134},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1134},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1134},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1417},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1417},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1417},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1417},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1417},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1700},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1700},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1031,1700},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
            <key>Hero_Die_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1700},{341,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,281}}</string>
                <key>sourceSize</key>
                <string>{341,281}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_die.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68ff42819aa5fe5000aecc4c0a236fde$</string>
            <key>textureFileName</key>
            <string>hero_die.png</string>
        </dict>
    </dict>
</plist>
